body {
    font-family:'Space Grotesk';
    font-weight:bolder;
    color:white;
}



.inline-block {
    display:inline-block;
    padding:10px;
    color:#fff;
    text-align:center;
    justify-content:center;
    padding-top:10px;
    cursor:pointer;
}
a {
    color:#fff;
    text-decoration: none;
}
a:hover{
    color:black;
}
.inline-block:hover {
    color:black;
    font-weight:bolder;
}
.name {
    display:none;
    padding:10px;
    color:#fff;
    text-align:center;
    justify-content:center;
    width:100%;
}

.logo {
    width:23%;
    position:fixed;
    top:0;
    left:0;
    margin:15px;
    padding-left:50px;

}
.top {
    display:grid;
}

.ul {
    width:50%;
    margin-left:auto;
}

.heroImg {

    display:grid;
    max-width: 100%;
    padding:50px;
    margin:5px;
    margin-top:60px;
    margin-left:80px;
    text-align:center;
    grid-row-start:1;
    grid-row-end:3;
    grid-column-start: 2;
    grid-column-end:4;
    float:right;

}
.content {
    display:grid;
    width:500px;
    margin:5px;
    color:#fff;
    padding:10px;
    grid-row-start:1;
    grid-row-end:3;
    grid-column-start: 1;
    grid-column-end:2;
    float:left;
}
.slogan {
    padding:10px;
    margin:5px;
    text-align:center;
}
.button2 {
    text-align:center;
}
.modal {
    width: 400px;
    background-color:#fff;
    border-radius:6px;
    position: fixed;
    top:0;
    left:50%;
    transform:translate(-50%,-50%) scale(0.1);
    text-align:center;
    padding: 0 30px 30px;
    visibility:hidden;
    transition: transform 0.4s, top 0.4s;
    color:black;
    z-index: 2;
}
.open-popup{
    visibility:visible;
    top:50%;
    transform:translate(-50%,-50%) scale(1);
}
.modal.open-popup {
    display: block;
}

a {
    text-decoration:none;
    color:inherit;
}

.overlay {
    display: none; 
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.5); 
}


.page {
    text-align:center;
   
}

  
.bottom {
    display:grid;
    grid-gap:50px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top:15px;
    grid-template-rows:100%;
    grid-template-columns:40% 60%;
    justify-content:space-evenly;
}


body {
    background-color:#7209B7;
    margin:0px;
}



.button {
    text-align:right;
    padding:20px;
    position:fixed;
    top:0;
    right:0;
    padding-right:50px;
}
.burger {
    text-align:right;
    padding:25px;
    position:fixed;
    top:0;
    right:0;
    display:none;
    margin:15px;

}

.flexContainer {
    display:flex;
    flex-direction:row;
    color:white;
    margin:20px 15%;
    padding:20px;
    justify-content:space-evenly;
}
.figma {
    width:33%;
    text-align:center;
}
.windows {
    width:33%;
    text-align:center;
}
.hardware {
    width:33%;
    text-align:center;
}
.otherSkills {
    display:flex;
    padding:10px;
    margin:20px 15%;
    flex-direction:row;
    justify-content:center;
    color:white;
}
.otherSkills1 {
    width:25%;
}
#skillsSec {
    background-color:black;
    width:100%;
    color:white;
}
.otherSkills2 {
    width:25%;
}
.mySkills {
    color:white;
}

hr {
    width:50%;
    margin: 0 auto;

}
.accomp{
    justify-content:center;
    margin:0 auto;
}
.accompList{
    display:flex;
    flex-direction:column;
    padding:10px;
    margin: 0 auto;
    justify-content:center;
    width:700px;
    position:center;
    
}
.workGrid {
    display:grid;
    grid-template-columns: 50% 50%;
    grid-gap:50px;
    padding:10px;
    margin:20px 15%;
}
.myWork {
    color:#fff;
}
.soundRoom{
    text-align:center;
    margin:40px;
}
.coVoters {
    text-align:center;
    margin:40px;
}
.button1 {
    text-align:center;
}
.footer {
    background-color:black;
    padding-bottom:10px;
    
}
.socials {
    justify-content:center;
    text-align:center;

}
.bottomNav {
    text-align:center;
    justify-content: center;
    color:white;
}
.bottomNav:hover {
    color:#7209B7;
}

button {
    background-color:black;
    color:white;
    padding:15px 32px;
    border:none;
    font-family:'Space Grotesk';
    border-radius: 25px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    cursor:pointer;
    box-shadow: 0 9px #999;
}
button:hover{
   background-color:grey;
   box-shadow: #7209B7;
   color:black;
   font-weight:bolder;
}
button:active {
    transform: translateY(4px);
    box-shadow: 0 5px #666;
}


@media screen and (max-width: 600px) {
    .flexContainer {
      flex-direction:column;  
    }
    .figma {
        width:100%;
    }
    .windows {
        width:100%;
    }
    .hardware {
        width:100%;
    }
    .workGrid {
        grid-template-columns: 100%;
        grid-gap:10px;
        padding: 1px;
        margin: 0px;
    }
    .top {
        display:flex;
        flex-direction:column;
        justify-content:center;
    }
    .content {
        width:300px;
        margin:0px;
        padding:0px;
        float:right;
    }
    .bottom {
        display:flex;
        flex-direction:column;
        justify-content:center;

    }
    .heroImg {
        justify-content:center;
        margin:0px;
        padding:0px;
        margin-left: 0%;
        margin-right: 0%;
        margin-top:0px;
        float:left;
    }
    .otherSkills {
        flex-direction:column;
        width:100%;
    }
    .otherSkills1 {
        width:100%;
    }
    .otherSkills2 {
        width:100%;
    }
    .inline-block {
        display:none;
    }
    .logo {
        position:absolute;
        padding-left:10px;
        
    }
    .button {
        display:none;
    }
    .burger {
        display:grid;
        position:absolute;
    }
    .name {
        display:inline-block;
    }
    .footer {   
    }
    .socials {
        padding-top:10px;
    }
    .accompList {
        padding-left:1px;
        width:400px;
    }
}
